@use 'settings/variables' as v;
@use 'tools/mixins' as m;

.u-transform{
    &--rotation {
        transform: rotate(180deg);
    }
}
.u-display {
    &--none {
        display: none;
    }
    &--flex {
        display: flex;
    }
}
.u-mensaje {
    font-size: 0.8em;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.5rem;
    &--error {
        color: red;
    }
    &--exito {
        color: green;
    }
    &--alerta {
        color: map-get(v.$colores, color-fondo-hover);
    }
}
.u-opacity {
    &--50 {
        opacity: 0.5;
    }
}
.u-cursor{
    &--not-allowed {
        cursor: not-allowed;
    }
}
.u-z-index--0{
    z-index: 1;
}