@use 'tools/mixins' as m;

.u-transform{
    &--rotation {
        transform: rotate(180deg);
    }
}
.u-display {
    &--none {
        display: none;
    }
    &--flex {
        display: flex;
    }
}
.u-mensaje {
    font-size: 0.8em;
    font-weight: bold;
    padding: 1rem;
    &--error {
        color: red;
    }
    &--exito {
        color: green;
    }
}