@use 'settings/variables' as v;

.c-button {
    padding: .625rem 1.5625rem;
    border-radius: 5px;
    &--amarillo {
        background-color: map-get(v.$colores, color-fondo);
        transition: all 0.5s ease;
        &:hover {
            background-color: map-get(v.$colores, color-primario);
            color: map-get(v.$colores, color-secundario);            
        }
    }
}