@use 'settings/variables' as v;
@use 'tools/mixins' as m;

.c-contacto {
    @include m.flex (column-reverse, nowrap, center, flex-end);
    @include m.position (fixed, null, 2rem, 0.625rem, null);
    z-index: 100;
    &__img {
        width: 62px;
        height: 62px;
        @include m.flex(row, nowrap, center,center);
        @include m.neomorfismo (50%, 1px, map-get(v.$colores, color-fondo), map-get(v.$colores, color-fondo-hover), map-get(v.$colores, color-fondo-active));
        color: #723F00;
        cursor: pointer;
        padding: 1.2rem;
        &:hover {
            background-color: map-get(v.$colores, color-fondo-hover);
        }
        i {
            transition: transform 0.5s ease;
            font-size: 1.5rem;
        }
        &--mod {
            transform: rotate(180deg);
        }
    }
    &__screen {
        @include m.position (relative, null, -25rem, null, null);
        visibility: hidden;
        pointer-events: none;
        height: 200px;
        width: 100px;
        margin-bottom: 1rem;
        color: map-get(v.$colores, color-texto-formulario);
        transition: all 0.5s ease;
        @include m.neomorfismo (5px, 2px, map-get(v.$colores, color-secundario), map-get(v.$colores, color-secundario), map-get(v.$colores, color-primario));
        &--mod {
            right: 0;
            visibility: visible;
            pointer-events: unset;
            width: auto;
            height: auto;
        }
    }
    &__arriba {
        background-color: map-get(v.$colores, color-fondo);
        @include m.flex (column, nowrap, center, center);
        padding: 1rem;
        border-radius: 5px;
    }
    &__iconos {
        @include m.flex (row, nowrap, center, center);
        &-contacta {
            @include m.flex (row, nowrap, center, center);
            margin: 0 0.5rem;
            padding: 0.5rem 1rem;
            background-color: map-get(v.$colores, color-fondo-hover);
            border-radius: 15px;
            cursor: pointer;
            transition: all 0.5s ease;
            &:hover {
                background-color: map-get(v.$colores, color-fondo-active);
            }
            i {
                padding-right: 0.5rem;
            }
        }
    }
    &__ul{
        padding: 1.2rem 0;
        @include m.flex (row, nowrap, center, center);
        & > :nth-child(1) {
            background-image: url(../img/avatar1.jpg);
            right: -0.5rem;
            z-index: 89;
        }
        & > :nth-child(2) {
            background-image: url(../img/avatar2.jpg);
            z-index: 90;
        }
        & > :nth-child(3) {
            background-image: url(../img/avatar3.jpg);
            right: 0.5rem;
            z-index: 89;
        }
    }
    &__li {
        padding: 1rem;
        background-size: cover;
        background-position: center;
        border: 1px solid #fff;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        position: relative;
    }
    &__pregunta {
        font-weight: bold;
        align-content: center;
        & > :nth-child(2) {
            margin-top: 0.5rem;
            font-size: 0.9em;
            font-weight: normal;
        }
    }
    &__abajo {
        padding: 0.5rem 1rem;
        background: rgb(240,240,240);
        background: linear-gradient(180deg, rgba(240,240,240,1) 16%, rgba(255,255,255,1) 77%);
        border-radius: 0 0 5px 5px;
    }
    &__form {
        padding: 0.5rem 0;
    }
    &__fieldset {
        padding: 0 0 1rem 0;
        label {
            color: map-get(v.$colores, color-texto-formulario2);
            margin-bottom: .5rem;
            font-size: .9rem;
        }
        input, textarea {
            border: 1px solid rgb(197, 206, 214);
            border-radius: 5px;
            min-width: 18.75rem;
            max-width: 18.75rem;
            padding: 0.5rem;
        }
        textarea {
            min-height: 120px;
            max-height: 120px;
        }
        button {
            width: 100%;
        }
    }
    &__spinner {
        @include m.flex(row, nowrap, center, center);
    }
}