@use 'settings/variables' as v;
@use 'tools/mixins' as m;

.c-cesta {
    opacity: 0;
    visibility: hidden;
    height: 0px;
    transition: all 1s ease;
    &--mod {
        opacity: 1;
        visibility: visible;
        
        width: 100%;
        height: 85.5vh;
        position: absolute;
        top: 15.5vh;
    }
    &__screen {
        z-index: 79;
        position: fixed;
        top: 15.5vh;
        width: 100%;
        height: 85.5vh;
        background-color: map-get(v.$colores, color-secundario-2);
    }
    &__contenedor {
        padding-top: 2rem;
    }
    &__cabecera {
        @include m.flex(row, nowrap, space-between, center);
        padding-bottom: 1rem;
        border-bottom: 1px solid map-get(v.$colores, color-borde-cesta);
    }
    &__h2 {
        font-size: 1.5em;
    }
    &__close {
        cursor: pointer;
        max-width: 20%;
        font-size: 1.5em;
    }
    &__p {
        font-size: 0.9em;
        margin: 0.5rem 0;
    }
    &__contenedor-table {
        max-height: 17.5em;
        overflow-y: scroll;
        background-color: #fff;
    }
    &__table {
        width: 100%;
        height: auto;
    }
    &__thead {
        background: rgb(24,24,24);
        background: linear-gradient(180deg, rgba(24,24,24,1) 16%, rgba(74,74,74,1) 77%);
        color: map-get(v.$colores, color-secundario);
        font-size: 0.8em;
        border-radius: 5px;
    }
    &__tr {
        display: table-row;
        border-bottom: 1px solid map-get(v.$colores, color-gris);
    }
    &__tr:last-child {
        border-bottom: none;
    }
    &__th, &__td {
        display: table-cell;
        text-align: center;
        padding: 0.5rem 1.5rem;
        vertical-align: top;
        font-size: 0.8em;
    }
    &__td:first-child {
        @include m.flex(row, nowrap, flex-start, flex-start);
    }
    &__td:last-child {
        font-weight: bold;
    }
    &__tbody {
        &-img {
            width: 15%;
            margin-right: 2rem
        }
        &-descripcion {
            @include m.flex (column, nowrap, center, flex-start);
        }
        &-iconos {
            @include m.flex(row, nowrap, flex-start, center);
        }
        &-p, &-a, &-iconos{
            padding: 0.15rem 0.5rem;
            span {
                font-weight: bold;
            }
        }
        &-p:nth-child(2) {
            color: map-get(v.$colores, color-gris);
        }
        &-p:nth-child(3) {
            color: map-get(v.$colores, color-precios);
        }
        &-a {
            color: blue;
        }
        // &-precios {

        // }
        &-precio {
            padding: 0.2rem 0.5rem;
            &--mod {
                display: none;
            }
        }
        &-precio:nth-child(2), &-precio:nth-child(3){
            color: map-get(v.$colores, color-gris);
        }
    }
    &__resultado {
        @include m.flex(row, nowrap, flex-end, flex-end);
        padding: 1rem;
    }
    &__detalle {
        @include m.flex(column, nowrap, center, flex-end);
        font-size: 0.8em;
        padding-left: 1rem;
        &-p {
            padding: 0.1rem;
            span {
                color: map-get(v.$colores, color-gris);
            }
        }
        &-p:nth-child(3) {
            padding-top: 0.8rem;
            font-weight: bold;
        }
    }
    &__caja-botones {
        @include m.flex(row, nowrap, flex-end, center);
        }
    &__tramitar {
        @include m.flex(row, nowrap, space-between, center);
    }
    &__boton {
        font-size: 0.8em;
        text-transform: uppercase;
        font-weight: bold;
        margin-right: 1rem;
        cursor: pointer;
    }
}