@use 'settings/variables' as v;
@use 'tools/mixins' as m;

.c-footer {
    background-color: map-get(v.$colores, color-primario);  
    padding: 2rem 0;      
    &__contenedor {
        margin: 0 auto;
        width: 90%;
        color: map-get(v.$colores, color-gris);
        @include m.flex (column, nowrap, space-between, center);
        @include m.tablet {
            width: 75%;
        }
    }
    &__ul {
        @include m.flex (row, nowrap, center, center);
        padding-bottom: 1rem;
    }
    &__li {
        padding: 0 1rem;
        font-size: 1.5em;
        @include m.tablet {
            font-size: 2em;
        }
        a {
            transition: all 0.3s ease;
            cursor: pointer;
            &:hover {
                color: map-get(v.$colores, color-gris-claro);
            }
        }
    }
    &__copy {
        font-size: 0.85em;
        @include m.tablet {
            font-size: 1em;
        }
    }
}