@use 'settings/variables' as v;
@use 'tools/mixins' as m;

.c-item {
    padding: 3rem;
    &__contenedor {
        @include m.flex (column, nowrap, center, center);
    }
    &__h1 {
        font-size: 2em;
    }
    &__h4 {
        padding: 1.5rem 0;
    }
    &__grid {
        @include m.grid (4, 0);
        padding: 1rem;
    }
    &__articulo {
        padding: 0.5rem 1rem;
        @include m.flex (column, nowrap, space-between, center);
        position: relative;
    }
    &__img {
        cursor: pointer;
    }
    &__contenido {
        position: relative; //añado porque con js crerá un mensaje de exito al agregar elemento a cesta
        padding: .625rem;
        @include m.flex (column, nowrap, center, center);
        &--mod {
            @include m.flex (row, nowrap, center, center); 
        }
        &-titulo {
            padding: 0.5rem;
            text-transform: capitalize;
            span {
                text-transform: capitalize;
                font-weight: bold;
            }
        }
        &-precio {
            font-size: 1.2em;
            color: map-get(v.$colores, color-precios);
            &--old {
                padding: 0 10px;
                font-size: .9rem;
                text-decoration: line-through;
            }    
        }
        & > button {
            margin-top: 0.5rem;
            font-size: 0.8em;
        }
    }
    &__descuento {
        @include m.position (absolute, 0, 0, null, null);
        background-color: map-get(v.$colores, color-fondo);
        width: 3.125em;
        height: 3.125em;
        border-radius: 50% 50% 50% 0;
        
        p {
            @include m.flex (row, nowrap, center, center);
            line-height: 3.125em;
            width: 100%;
            font-size: 1.1em;
            font-weight: bold;
        }
    }
}