@use 'settings/variables' as v;
@use 'tools/mixins' as m;

.c-modal {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease, visibility 1s ease;
    &--mod {
        opacity: 1;
        visibility: visible;
    }
    &__screen{
        @include m.position (fixed, 0, 0, 0, 0);
        z-index: 201;
        @include m.flex (column, nowrap, center, center);
        background-color: #111111bd;
    }
    &__li {
        @include m.flex (row, nowrap, space-around, center);
        position: relative;
        width: 70%;
        height: 90%;
        padding: 1rem;
        background-color: map-get(v.$colores, color-secundario);
        color: map-get(v.$colores, color-primario);
        border-radius: 10px;
        // @include m.telefono-xl {
        //     width: 85%;
        //     padding: 0.5rem;
        // }
        // @include m.tablet {
        //     width: 75%;
        //     padding: 1rem;
        //     max-width: 45rem;
        // }
        // @include m.desktop {
        // }
        
        &-descuento {
            @include m.flex (row, nowrap, center, center);
            @include m.position (absolute, 1.5rem, null, null, null);
            background-color: map-get(v.$colores, color-fondo);
            width: 5em;
            height: 5em;
            border-radius: 50% 50% 50% 0;
            p {
                font-size: 1.5em;
                font-weight: bold;
            }
        }
        &-img {
            cursor: default;
        }
        &-contenido {
            position: relative;
            padding: 1rem;
            @include m.neomorfismo (5px, 2px, map-get(v.$colores, color-secundario-2), map-get(v.$colores, color-secundario-2), map-get(v.$colores, color-primario));
            @include m.flex (column, nowrap, center, center);
            &--mod {
                @include m.flex (row, nowrap, center, center); 
                padding-bottom: 0.5rem;
            }  
        }
        &-caracteristicas {
            width: 100%;
            @include m.flex(column, nowrap, center, flex-start);
            padding: 0.3rem 0;
            &-p {
                padding: 0.2rem 0;
                span {
                    font-weight: bold;
                }
                &--mod {
                    color: blue;
                    font-weight: lighter;
                    font-size: 0.9em;
                }
            }
        }
        &-titulo {
            padding: 0.5rem;
            font-size: 1.7em;
            span {
                text-transform: capitalize;
                font-weight: bold;
            }
        }
        &-precio {
            font-size: 2.5em;
            font-weight: bold;
            padding: 0.5rem;
            color: map-get(v.$colores, color-precios);
            &--old {
                font-size: 1.4em;
                text-decoration: line-through;
                padding-right: 1rem;
            }
            &--descuento {
                font-size: 1.4em;
                color: map-get(v.$colores, color-gris);
            }
        }
        &-button {
            padding-top: 2rem;
        }
        &-close {
            @include m.position (absolute, 2rem, null, null, 2rem);
            font-size: 2rem;
            cursor: pointer;
        }
        &-mensaje {
            position: absolute;
            bottom: 3rem;
            right: 3rem;
            font-size: 1.5em;
        }
    }
}