@use 'settings/variables' as v;
@use 'tools/mixins' as m;

.c-nav {
    display: none;
    @include m.position (absolute, (2.8243rem+2.5rem), null, null, null);
    @include m.tablet {
        top: 4.499rem+2.5rem;
    }
    &--mod {
        display: block;
    }
    @include m.desktop {
        width: 85%;   
        @include m.flex (row, nowrap, space-between, center);
        @include m.position (absolute, 6.1368rem, null, null, null);
    }
    &__ul {
        @include m.desktop {
            @include m.flex (row, nowrap, space-around, center);
        }
    }
    &__li {
        position: relative;
        @include m.flex (column, nowrap, center, center);
        padding: .3125rem 1.375rem;
        margin-top: .375rem;
        @include m.desktop {
            border-right: 1px solid #444;
        }
        &:hover {
            background-color: map-get(v.$colores, color-secundario);
            color: map-get(v.$colores, color-primario);
            border-radius: 10px 10px 0 0;
            .c-nav__li-subnav {
                display: block;
                z-index: 100;
            }
        }
        &-encabezado {
            width: 100%;
            @include m.flex (row, nowrap, space-between, center);
            i {
                transform: rotate(180deg);
                margin-left: 0.5rem;
            }
        }
        &-categoria {
            cursor: pointer;
            text-transform: uppercase;
            font-size: 1em;
        }
        &-subnav {
            display: none;
        }
    }
    
    &__li:last-child {
        border-right: none;
    }
    &__outlet:hover > .c-nav__li{
        border-radius: 10px;
    }
}