@use 'settings/variables' as v;
@use 'tools/mixins' as m;

.c-portada {
    position: relative;
    @include m.flex (row, nowrap, center, center);
    html.webp &__foto{
        background-image: url(../img/img-portada5.webp);
    }
    html.nowebp &__foto{
        background-image: url(../img/img-portada5.jpj);
    }
    &__foto {
        background-attachment: local;
        background-repeat: repeat;
        background-size: contain;
        width: 100%;
        height: 70vh;
    }
    &__boton {
        @include m.position (absolute, null, null, 5rem, null);
    }
}
