@use 'settings/variables' as v;
@use 'tools/mixins' as m;

.c-portada {
    &__foto {
        background-image: url(../img/img-portada5.jpg);
        background-attachment: local;
        background-repeat: repeat;
        background-size: contain;
        width: 100%;
        height: 70vh;
    }
}
