@use 'settings/variables' as v;
@use 'tools/mixins' as m;

.c-portada {
    @include m.flex (row, nowrap, center, center);
    &__contenedor {
        background-image: url(../img/img-portada1.jpg);
        background-attachment: local;
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 60vh;
    }
}
